.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main-block{
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-info{
    width: 400px;
}
.main-info h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 40px;
    transform: translate(0px,40px);
}
.main-info p{
    transform: translate(0px,30px);
}
.main-photo{
    width: 400px;
}
.photo{
    background-image: url('/images/IMG_20210901_154316_162-PhotoRoom2.png');
    background-size: cover;
    width: 350px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(300px,-200px);
}
.right{
    float: right;
    padding: 0 20px 20px 0;
}
.hire-main{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 30px;
    background-color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    border: .5px solid #000;
    transition: all .3s ease;
    transform: translate(0px,30px);
}
.hire-main:hover{
    background-color: transparent;
    color: #000;
    border: .5px solid #000;
    transition: all .3s ease;
}
.logo-header{
    margin-top: -15px;
}

.nav-header:hover{
    background-color: transparent;
    color: #000;
    border: .5px solid #000;
    transition: all .3s ease;
}